<!DOCTYPE html>
<html>
     <head>
       <title><%= title %></title>
     </head>
     <body>
     	<img src="images/logo_symbol.png" alt="Logo">
     	<br/>
     	You viewing timeshare application on 
       <strong><%= title %></strong>
     </body>
</html>