<!DOCTYPE html>
<html>
    <head>
        <title>
            <%=title %>
        </title>
    </head>
    <body>
        
        Welcome
       <strong><%= title %></strong>

       <a href="/CntrlPanel/signup">Sign-Up</a>    |    <a href="/CntrlPanel/signin">Sign-in</a>

    </body>
</html>