<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">

   <head>
      <title><%= title %></title>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="styles/bootstrap/bootstrap.css" crossorigin="anonymous">
      <link rel="stylesheet" href="styles/css/main.css" crossorigin="anonymous">
   </head>

   <body>
      

      <script type="text/javascript">
         window.user = <%- user || 'null' %>;
      </script>


      <section ng-view></section>

      <!-- AngularJS Library-->
      <script type="text/javascript" src="/lib/angular/angular.js"></script>
      <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
      <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
      <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
      <!-- END AngularJS Library Load -->


      <script type="text/javascript" src="/timeshares/timeshares.client.module.js"></script>
      <script type="text/javascript" src="/timeshares/controllers/timeshares.client.controller.js"></script>
      <script type="text/javascript" src="/timeshares/services/timeshares.client.service.js"></script>
      <script type="text/javascript" src="/timeshares/config/timeshares.client.routes.js"></script>

      <script type="text/javascript" src="/admin_mod/admin.client.module.js"></script>
      <script type="text/javascript" src="/admin_mod/controllers/admin.client.controller.js"></script>
      <script type="text/javascript" src="/admin_mod/config/admin.client.routes.js"></script>

      <script type="text/javascript" src="/users/services/users.client.module.js"></script>
      <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>
      <!--Bootstrap AngularJS Application-->
      <script type="text/javascript" src="/application.js"></script>
   </body>
</html>

