<!DOCTYPE html>
<html>
     <head>
       <title><%= title %></title>
     </head>
     <body>
     	You viewing timeshare application on 
       <strong><%= title %></strong>


       <script type="text/javascript" src="/lib/angular/angular.js"></script>
     </body>
</html>